.idea
data
log5
result
*.zip
evaluation
model/GTransformerv8
model/ACM
model/AGPCNet
model/ALCNet
model/DNANet
model/ISNet
model/ISTDUNet
model/RDIAN
model/UIUNet
model/UNet
model/SCTrans
model/RDIAN-main
model/RISTDnet
model/ISTDU-Net-main
utils
*.py